<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    *{
      border: 0;
      margin: 0;
      padding: 0;
    }
    button,input{
      margin-left: 5px;

    }
    button{
      background: skyblue;
      height: 35px;
      padding: 13px;
      border-radius: 5px;
    }
    input{
      border: 1px solid black;
      height: 32px;
      padding-left:5px;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="options">
          <button>Add USer</button>
          <button>Remove User</button>
          <input type="text" name="search" [(ngModel)]="searchText" id="" placeholder="search an user">
      </div>
  </div>

  <div>
    <table class="table table-striped table-users">
      <thead>
        <tr>
          <th>Check</th>
          <th>Username</th>
          <th>email</th>
          <th>usergorup</th>
          <th>last visit</th>
          <th>registered</th>
          <th>Pts</th>
        </tr>
     </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:searchText">
          <th> <input type="checkbox" name="" id="">  </th>
          <th>{{user.name}}</th>
          <th>{{user.email}}</th>
          <th>{{user.usergroup}}</th>
          <th>{{user.lastvisit}}</th>
      </tr>
    </tbody>

    </table>
  </div>
</body>
</html>